<p id="notice"><%= notice %></p>

<h1>Github Repo Search</h1>

<%= form_tag(githubs_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], required: true) %>
  <%= submit_tag ("Search") %>
<% end %>

<% @githubs['items'].each do |item| %>
  <ul>
    <li><%= link_to item['full_name'], url_for(item['html_url']) %>
    <%= ", #{item['description']}" %>
    <br>
  </ul>
<% end %>
